In [ ]:
a = 3
b = 5

In [ ]:
print(a + b)

8

In [ ]:
print("a+b")

a+b

In [ ]:
a = 8

In [ ]:
print(a+b)

13

In [ ]:
a = a+1
a

22

In [ ]:
#a + =1 연산자 사이에 띄어쓰기 하면 오류남, 연산자와 숫자 사이에는 띄어써도 오류안남
#a

SyntaxError: invalid syntax (<ipython-input-27-a8c663a78689>, line 1)

In [ ]:
a = 3
b = 5
print(a+b) #print가 없으면 가장 마지막 줄만 출력되기때문에 print문 자주 사용해보는게 좋음
print(a-b)

8
-2

In [ ]:
str_1 = '인덱싱을 하기 위한 string입니다.' # .과'사이에는 한칸이 있다고 받아들임
len(str_1)

22

In [ ]:
str_1[-2] #없는 index 수를 적으면 오류뜸.( -가 붙어도 마찬가지)

'.'

In [ ]:
str_1[11:17]
#str_1[-6:12]

'string'

In [ ]:
str_2 = '안녕하세요. 홍길동 고객님!'
str_2[7:10]
print(str_2[:2]) # 시작점부터 출력
print(str_2[11:]) #끝까지 출력
print(str_2[:]) #전체 출력
print(str_2[-4:]) #-4번째부터 오른쪽 뒤에 있는 문자열 출력
print(str_2[:-2]) # 앞에서부터 -2번째 문자열까지 출력
print(str_2[::-1])

안녕
고객님!
안녕하세요. 홍길동 고객님!
고객님!
안녕하세요. 홍길동 고객
!님객고 동길홍 .요세하녕안

In [ ]:
str_3 = 'Alphabet'
print(str_3.lower())
print(str_3.upper())
#print(str_3.lower)
#<built-in method lower of str object at 0x78a49dca3070> 오류남
print(str_3.lower().count('a'))
#print(str_3.count('a').lower()) = a 갯수를 센 뒤 그걸 소문자로 바꾸란 뜻임으로 오류남.
#정수를 소문자로 바꾸란 뜻

alphabet
ALPHABET
2

AttributeError: 'int' object has no attribute 'lower'

In [1]:
str_4 = 'Life is C between B and D'
str_4.replace('C', "Chicken")

'Life is Chiclen between B and D'

In [3]:
str_4.split()

['Life', 'is', 'C', 'between', 'B', 'and', 'D']

In [33]:
list_6 = ['a','b','c']
list_7 = ['가','나','다']
list_6+list_7

['a', 'b', 'c', '가', '나', '다']

In [34]:
list_6*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [35]:
type(list_7)

list

In [36]:
a in list_6

NameError: name 'a' is not defined

In [28]:
list_8 = ['파이썬', 'C', 'java']
list_8.append('R') #append : 항상 뒤에 덮어쓰여짐.
list_8

['파이썬', 'C', 'java', 'R']

In [29]:
list_8.insert(2, 'C++') #insert : 원하는 위치에 덮어쓰여짐.
list_8

['파이썬', 'C', 'C++', 'java', 'R']

In [30]:
list_8[0] = 'Python'
list_8

['Python', 'C', 'C++', 'java', 'R']

In [31]:
list_8.remove('C')

['Python', 'C++', 'java', 'R']

In [ ]:
list_8

In [32]:
list_8.pop() #마지막 메소드 꺼내줌

'R'

In [43]:
list_9 = [1,5,7,2,6]
list_9.sort()#오름차순
list_9.sort(reverse= True) #내림차순
list_9

[7, 6, 5, 2, 1]

In [ ]:
print(sorted(list_9))

In [45]:
a = [10,9,8,7,6]
b = [5,6,7,8,9]

In [46]:
print(id(a), id(b)) #id : 메모리주소

134167208114048 134166164187712

In [47]:
b=a

In [48]:
a.sort()

In [49]:
b

[6, 7, 8, 9, 10]

In [ ]:
#########깊은 복사###########

In [51]:
import copy
a = [5,4,3,2,1]

In [52]:
b = copy.deepcopy(a)
print(id(a),id(b))

134166161103680 134166161063872

In [53]:
a.sort()
a

[1, 2, 3, 4, 5]

In [54]:
b

[5, 4, 3, 2, 1]

In [ ]:
###########

In [55]:
a = [5,4,3,2,1]

In [56]:
b = a[:]

In [57]:
print(id(a),id(b))

134166162425536 134166161001152

In [58]:
b

[5, 4, 3, 2, 1]

In [59]:
a.sort()

In [60]:
a

[1, 2, 3, 4, 5]

In [61]:
b

[5, 4, 3, 2, 1]

In [62]:
a = [[1,2],[3,4]] ###2차원에서는 안먹히는 방법
a

[[1, 2], [3, 4]]

In [63]:
b = a[:]

In [64]:
a[0][1]=100
a

[[1, 100], [3, 4]]

In [65]:
b

[[1, 100], [3, 4]]

In [75]:
dict_3 = {'홍길동':100, '홍계월':200}
dict_3

{'홍길동': 100, '홍계월': 200}

In [76]:
dict_3['슈퍼맨']=300
dict_3

{'홍길동': 100, '홍계월': 200, '슈퍼맨': 300}

In [68]:
#dict_3[0] #키에러!

KeyError: 0

In [77]:
dict_3['홍길동']=1
dict_3

{'홍길동': 1, '홍계월': 200, '슈퍼맨': 300}

In [78]:
del dict_3['슈퍼맨']
dict_3

{'홍길동': 1, '홍계월': 200}

In [79]:
dict_3 = {'홍길동':100, '홍계월':200, '슈퍼맨':150, '배트맨':250}
# key만 호출
print(dict_3.keys())
print(type(dict_3.keys()))

dict_keys(['홍길동', '홍계월', '슈퍼맨', '배트맨'])
<class 'dict_keys'>

In [81]:
#values만 호출
print(dict_3.values())
print(type(dict_3.values()))

dict_values([100, 200, 150, 250])
<class 'dict_values'>
dict_values([100, 200, 150, 250])
<class 'dict_values'>

In [82]:
#key,values 호출
print(dict_3.items())
print(type(dict_3.items()))

dict_items([('홍길동', 100), ('홍계월', 200), ('슈퍼맨', 150), ('배트맨', 250)])
<class 'dict_items'>

In [83]:
#dict_3.items()[0] 에러!
list(dict_3.items())[0] #list로 감싸주면 list로 나타낼수있음.

('홍길동', 100)

In [85]:
3 and 5 #and 논리연산자 항상 큰 숫자
3 & 5 #비트연산자 (이진법 교집합 나옴) #011 & 0101

1

In [86]:
3 & 7 #011 & 0111

3

In [91]:
set_5 = {1,2,3,4}
set_6 = {4,5,6,7}

In [92]:
set_5 & set_6

{4}

In [93]:
set_5 | set_6

{1, 2, 3, 4, 5, 6, 7}

In [94]:
3 or 5
3 | 5

7

In [95]:
money = True
if money:
  print('여행을 간다')
else:
  print('여행을 안간다')

여행을 간다

In [103]:
money = 0

if 0<money<5000:
  print('라면을 먹는다')
elif 5000<=money<25000:
  print(' 치킨을 먹는다')
elif 25000<=money<50000:
  print('삼겹살을 먹는다')
elif 50000<money:
  print('소고기를 먹는다.')
else:
  print('굶는다')

#동일한 코드 (^^^^^위의 코드를 권장!)
# if와 else는 짝임 else가 없는 코드는 틀린것은 아니지만 권장하지 않음.

if 0<money:
  if money<5000:
    print('라면을 먹는다')
  elif 5000<=money<25000:
    print('치킨을 먹는다')
  elif 25000<=money<50000:
    print('삼겹살을 먹는다.')
  else:
    print('소고기를 먹는다.')
else:
  print('굶는다.')

굶는다

In [104]:
value = 20

if value%2==0:
  is_even = True
else:
  is_even = False
is_even

#삼항연산자 코드를 줄여서 쓸 수 있음.
value = 20

is_even = True if value%2==0 else False
is_even

True

In [106]:
num = 1
print('문자열 포맷팅 하기 예시 %d' %num) #%d = 정수만 받을수 있음(int)

문자열 포맷팅 하기 예시 1

In [108]:
ch= '이름'
print('내 이름은 : %s' %ch) #s : 문자열만 가능 (str)

내 이름은 : 이름

In [109]:
fl = 2.56726525
print('반올림 하기 : %0.1f' %fl) #소숫점1의 자리에서 반올림 해달라는 말

반올림 하기 : 2.6

In [110]:
fl = 1/3
print('반올림 하기 : %0.30f' %fl) #소숫점1의 자리에서 반올림 해달라는 말
#반올림 하기 : 0.333333333333333314829616256247 16자리까지만 유효하고 그 뒤는 에러가 남

반올림 하기 : 0.333333333333333314829616256247

In [115]:
print('문자열 포맷팅 하기 예시 {}'.format(2))

문자열 포맷팅 하기 예시 2

In [113]:
print('내 이름은 : {}'.format(ch))

내 이름은 : 이름

In [116]:
a = '박'
b = '채은'
print('성은 {}, 이름은 {}'.format(a,b)) #괄호로 묶어주면 두 개 이상도 가능

성은 박, 이름은 채은

In [119]:
print('성은 {0}, 이름은 {1}'. format(a,b)) #인덱스를 통해 순서 지정도 가능

성은 박, 이름은 채은

In [120]:
'나는 오늘 %s 를 %d + 1 잔이나 마셨다' %('커피', 3)

'나는 오늘 커피 를 3 + 1 잔이나 마셨다'

In [122]:
#'나는 오늘 {음료}를 {개수+1} 잔이나 마셨다'. format(음료='커피', 개수=3)
# 키에러!

In [165]:
#### f-string ####
###다른 포맷팅과는 다르게 표현식을 지원함. 이것만 가능! 연산 다 가능###
drink = '커피'
nums = 3

f'나는 오늘 {drink}를 {nums + 3} 잔이나 마셨다'

'나는 오늘 커피를 6 잔이나 마셨다'

In [156]:
####연습문제####
#b로 a를 나눈 나머지가 3 초과면 실패, 3이면 무승부, 3 미만이면 성공이 출력도도록 만들어보자
a = 34
b = 4

In [158]:
if b % a > 3:
  print('실패')
elif b %a == 3:
  print('무승부')
else :
  print('성공')

실패

In [169]:
#5-2
#홀수짝수
a = int(input('정수를 입력해 주세요:'))

if a %2==0 :
  print(f'입력하신 {a}는 짝수입니다.')

else :
  print(f'입력하신 {a}는 홀수입니다.')

정수를 입력해 주세요:222
입력하신 222는 짝수입니다.

In [176]:
#5-3
a = int(input('당신이 태어난 년도를 입력하세요'))

age = int(2024 - a + 1)
#print(age)
if 20 <= age <=26:
  print("대학생")
elif 17 <= age < 20:
  print("고등학생")
elif 14 <= age < 17:
  print("중학생")
else :
  print("학생이 아닙니다")

당신이 태어난 년도를 입력하세요2000
대학생

In [207]:
#5-4
a, b, c = input().split() #split으로 한번에 몇가지를 받을 수 있음.


if a > 65 and b > 65 and c > 65 :
  print("합격")
else :
  print("불합격")

33 55 77
<class 'str'>

TypeError: '>' not supported between instances of 'str' and 'int'

In [232]:
a = int(input('점수1은 '))
b = int(input('점수2는 '))
c = int(input('점수3은 '))

if 100 >= a >= 0 and 100 >= b >= 0 and 100 >= c >= 0:
  if a > 65 and b > 65 and c > 65 :
    print("합격")
  else:
   print("불합격")
else:
  print("잘못된 점수가 입력되었습니다")

점수1은 55
점수2는 11
점수3은 123
잘못된 점수가 입력되었습니다

In [251]:
#5-5
#양의 정수 하나를 입력 받아 이 정수가 2의 배수인지 3의 배수인지 작성하시오

a = int(input('정수를 입력하세요'))

if a % 3==0 and a % 2==0:
  print('2와 3의 공배수입니다')
elif a  % 2== 0:
  print('2의 배수입니다')
elif a % 3== 0:
  print('3의 배수입니다')
else :
 print ('2와 3의 배수가 아닙니다')

정수를 입력하세요3
3의 배수입니다